.table.table-striped th {
    padding-left: 1.5rem;
}

.table.table-striped td {
    padding-left: 1.5rem;
}

.filter {
    position: relative;
}

.arrow {
    position: absolute;
    left: -5px;
    background-image: url("../img/sort-alt.png");
    width: 24px;
    height: 24px;
}

.sort-AZ {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 60px;
    background-image: url("../img/sort-az.png");
}

.adaptive {
    display: none;
}

    @media (max-width: 577px) {
      .adaptive {
        display: block;
      }
    }