<!doctype html>
<html lang="uk">
<head>
    <%- include('partials/head') %>
</head>
<body class="page-main">
<header class="main-header">
    <div class="header-container">
        <p class="logo">Card</p>
        <ul class="list">
            <li class="list-item">
                <a href="#">Home</a>
            </li>
            <li class="list-item">
                <a href="/about/">About</a>
            </li>
            <li class="list-item">
                <a href="/contact">Contact</a>
            </li>
            <li class="list-item">
                <a href="/social">Social</a>
            </li>
        </ul>
    </div>
</header>

<main>
    <div class="main-container">
        <div class="text-container">
            <p class="slogan">Spend your crypto right from your personal wallet</p>
            <p class="text">Card designed for all your needs to help you manage your spendings and reinvest money.</p>
            <button class="button" type="button">buy this template</button>
        </div>
        <img class="image" src="card-2.png" alt="">
    </div>
</main>

<footer class="main-footer">
    <p class="footer-text">We are in private alpha and accepting new users on a rolling basis.</p>
</footer>
</body>
</html>