.img {
    display: block;
    margin: 0 auto;
}

.container {
    padding: 0 40px;
}

.container-main {
    padding: 0 200px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: #FE7D00;
}

.main-nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.site-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-wrapper {
    position: sticky;
    top: 90px;
    margin-left: 20px;
}

.main-title {
    margin: 0;
    margin-bottom: 20px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FE7D00;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.footer-nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}







