@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Whitney'),
    url('../font/whitney-medium.woff') format('woff');
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Whitney'),
    url('../font/whitney-bold.woff') format('woff');
}

@font-face {
    font-family: "Ginto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Ginto'),
    url('../font/ginto-medium.woff') format('woff');
}

body {
    font-family: "Whitney", Arial, sans-serif;
    font-weight: 500;
    min-width: 1200px;
    min-height: 100vh;
    background-color: rgb(32, 34, 37);
}

.page-wrapper {
    display: grid;
    grid-template-columns: 70px 240px 1fr 417px;
    grid-template-rows: 26px calc(100vh - 60px) 34px;
}

.window {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(32, 34, 37);
    padding: 0 12px;
}

.top-container {
    display: grid;
    grid-template-columns: 60px 70px;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 60px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 0;
}

.control-window {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    width: 70px;
}

.collapse-window {
    width: 10px;
    height: 1px;
    align-self: center;
    background-image: url('../icon/Minimize.svg');
}

.full-window {
    align-self: flex-end;
    width: 10px;
    height: 10px;
    background-image: url('../icon/Maximize.svg');
}

.close-window {
    width: 10px;
    height: 10px;
    display: block;
    background-image: url('../icon/Close.svg');
}

.main-nav {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    width: 68px;
    padding-top: 4px;
}

.main-nav-list {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    list-style: none;
}

.nav-item {
    margin-bottom: 18px;
}

.direct-messages {
    grid-column: 2/3;
    grid-row: 2/-1;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(47, 49, 54);
    border-top-left-radius: 5px;
    border-bottom: 2px solid rgb(35, 37, 39);
}

.direct-messages label {
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.search {
    width: 100%;
    padding: 6px;
    padding-right: 47px;
    background-color: rgb(32, 34, 37);
    border: none;
    outline: none;
    box-sizing: border-box;
    color: rgb(114, 118, 125);
}

.search::placeholder {
    color: rgb(114, 118, 125);
    font-family: 'Whitney', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.main-header {
    grid-column: 3 / -1;
    grid-row: 2/3;
}

.main-header-wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(54, 57, 63);
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 48px;
    padding-right: 20px;
}

.main-header-wrapper > span {
    display: block;
    position: relative;
    font-family: 'Ginto', Arial, sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    padding-right: 16px;
    border-right: 2px solid rgb(66, 69, 74);
    margin-right: 7px;
}

.main-header-wrapper > span::before {
    content: '';
    position: absolute;
    left: -31px;
    width: 22px;
    height: 22px;
    background-image: url('../icon/friends.svg');
    background-repeat: no-repeat;
}

.friends-status-list {
    display: block;
    align-items: center;
}

.friends-status-item {
    margin-right: 35px;
}

.friends-status-item button {
    border: none;
    background-color: transparent;
    color: #ffffff;
}

.friends-status-item:first-child button {
    padding: 3px 7px;
    background-color: rgb(62, 66, 73);
}

.friends-status-item:nth-child(3) {
    position: relative;
}

.friends-status-item:nth-child(3) button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    background-image: url('../icon/notification.svg');
}

.friends-status-item:nth-child(4) {
    position: relative;
}

.friends-status-item:nth-child(4) button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    background-image: url('../icon/notification.svg');
}

.friends-status-item:last-child button {
    padding: 3px 7px;
    background-color: rgb(59, 165, 93);
    border-radius: 3px;
}

.main-header-right-panel-item {
    display: flex;
    width: 117px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

.new-group {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../icon/new-group-dm.svg');
    color: rgb(199, 201, 203);
}

.inbox {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('../icon/inbox.svg');
    color: rgb(199, 201, 203);
}

.help {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../icon/help-support.svg');
    color: rgb(199, 201, 203);
}

.friends-status-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-navigation-list {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-top: 5px;
    list-style: none;

}

.home-navigation-item:first-child {
    background-color: rgb(57, 60, 67);
    border-radius: 5px;
    margin-bottom: 2px;

}

.home-navigation-item:first-child button {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 52px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #ffffff;
}

.home-navigation-item:nth-child(2) button {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 52px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(142, 146, 151);
    background-color: transparent;
}

.home-navigation-item:first-child button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    width: 21px;
    height: 17px;
    background-image: url('../icon/friends-white.svg');
    transform: translateY(-50%);
}

.home-navigation-item:nth-child(2) button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    width: 22px;
    height: 15px;
    background-image: url('../img/nitro.svg');
    transform: translateY(-50%);
}

.messages h2 {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    color: rgb(142, 146, 151);
    font-family: 'Ginto', Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.messages h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 11px;
    width: 11px;
    height: 11px;
    background-image: url('../icon/plus.svg');
}

.messages-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.messages-item {
    margin-bottom: 12px;
}

.messages-item > div {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 12px;
}

.avatar-name {
    display: flex;
    flex-direction: column;
    color: rgb(142, 146, 151);
}

.avatar-name .wid {
    font-family: 'Whitney', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.user-corner {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 16px;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3 / 4;
}

.user-info {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Whitney', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
}

.user-code {
    font-weight: 500;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.user-info img {
    margin-right: 8px;
}

.user-settings {
    display: flex;
}

.user-settings span:not(:last-child) {
    margin-right: 10px;
}

.microphone {
    display: block;
    width: 12px;
    height: 17px;
    background-image: url('../icon/Mute.svg');
}

.headphones {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../icon/Deafen.svg');
}

.settings {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../icon/Settings.svg');
}