body {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    height: 100vh;
}

.page-main {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-page {
    background-color: lightgrey;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    margin-bottom: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}

.logo {
    font-size: 34px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 38px;
    padding: 0;
    list-style: none;
}

.list-item {
    margin-right: 65px;
    text-transform: uppercase;
}

.list-item a {
    color: #000000;
    text-decoration: none;
}

.list-item a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
}

.image {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.slogan {
    width: 650px;
    margin-bottom: 80px;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 1.22px;
}

.text {
    width: 650px;
    margin-bottom: 80px;
    font-size: 28px;
    line-height: 33px;
    opacity: 0.6;
}

.button {
    padding: 15px 28px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #000000;
    cursor: pointer;
}

.footer-text {
    padding: 0;
    padding-top: 223px;
    padding-left: 100px;
    margin: 0;
    line-height: 23px;
}

.about-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .main-container {
        flex-direction: column;
    }

    .text-container {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }

    .list {
        flex-direction: column;
    }

    .list-item {
        margin-bottom: 20px;
    }
}


