body {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #000000;
}

.container {
    padding: 0 37px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: -3px;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}

.main-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation__item {
    margin-right: 43px;
}

.main-navigation__item a {
    display: block;
    text-transform: uppercase;
}

.main-navigation__my-farm {
    position: relative;
    padding-top: 16px;
    padding-right: 46px;
    padding-bottom: 17px;
    padding-left: 80px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(60, 84, 117, 0.15);
    background: linear-gradient(270.00deg, rgb(22, 41, 112) 0%, rgb(37, 83, 144) 99.278%);
}

.main-navigation__my-farm::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 44px;
    width: 23px;
    height: 15px;
    transform: translateY(-50%);
    background-image: url('../img/speed-meter.svg');
}

.main-navigation__account {
    position: relative;
    padding-top: 16px;
    padding-right: 44px;
    padding-left: 92px;
    padding-bottom: 15px;
    color: #000000;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.main-navigation__account::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 58px;
    width: 19px;
    height: 19px;
    transform: translateY(-50%);
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
}

.main-navigation__settings {
    position: relative;
    padding-top: 16px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 81px;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.main-navigation__settings::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 44px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    background-image: url('../img/settings-work-tool.svg');
    background-repeat: no-repeat;
}

.main-navigation__help {
    position: relative;
    padding-top: 16px;
    padding-right: 34px;
    padding-left: 91px;
    padding-bottom: 15px;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.main-navigation__help::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 56px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    background-image: url('../img/info.svg');
    background-repeat: no-repeat;
}


.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 146px;
    list-style: none;
}

.user-navigation__list {
    position: relative;
}

.user-navigation__list::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    background-image: url('../img/select.svg');
    transform: translateY(-50%);
}

.user-navigation__list::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    width: 45px;
    height: 45px;
    background-image: url('../img/user-photo.jpeg');
    transform: translateY(-50%);
}

.user-navigation__button {
    padding-right: 19px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(130, 130, 130);
    border: none;
    background-color: transparent;
}

main {
    padding-top: 30px;
    background-color: #f6f7f8;
}

.crypto-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.crypto-title {
    margin: 0;
    margin-right: 58px;
    font-size: 25px;
    line-height: 29px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.crypto-balance__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.crypto-balance__item {
    margin-right: 35px;
    font-size: 25px;
    opacity: 0.3;
    color: rgb(0, 0, 0);
}

.crypto-balance_name {
    position: relative;
    font-size: 17px;
    font-weight: 500;
}

.crypto-balance-name__ltc::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 14px;
    height: 14px;
    background-image: url('../img/litecoin-grey.png');
    transform: translateY(-50%);
}

.crypto-balance-name__btc::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 14px;
    height: 14px;
    background-image: url('../img/bitcoin-grey.png');
    transform: translateY(-50%);
}

.crypto-balance-name__eth::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 14px;
    height: 14px;
    background-image: url('../img/ethereum-grey.png');
    transform: translateY(-50%);
}

.add-currency {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 30px;
    margin-left: auto;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 10px 0 rgba(60, 84, 117, 0.15);
    background: linear-gradient(270.00deg, rgb(22, 41, 112) 0%, rgb(37, 83, 144) 99.278%);
    cursor: pointer;
}

.add-currency::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    width: 9px;
    border: 1px solid #ffffff;
    transform: translateY(-50%);
}

.add-currency::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 24.56px;
    height: 9px;
    border: 1px solid #ffffff;
    transform: translateY(-50%);
}

.card-wrapper {
    margin-bottom: 36px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 26px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-list__total-balance {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-list__total-balance::before {
    content: '';
    position: absolute;
    top: 14px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-image: url('../img/help.png');
    cursor: pointer;
}

.total-balance-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    padding: 15px 25px;
    border: 2px solid rgb(242, 174, 75);
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(60, 84, 117, 0.15);
    background: rgb(255, 255, 255);
}

.card-item__title-balance {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgb(130, 130, 130);
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.card-item__balance-btc {
    margin-bottom: 10px;
}

.card-item__balance-btc span:first-child {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 13px;
}

.card-item__balance-btc span:first-child::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 50%;
    transform: translateY(-50%);
}

.card-item__balance-btc span:nth-child(2) {
    font-size: 13px;
    font-weight: 700;
}

.card-item_balance-usd {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: rgb(79, 79, 79);
}

.total-balance-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-item__button-binance {
    padding: 4px 15px;
    border: 2px solid rgb(243, 186, 47);
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: pointer;

}

.card-item__button-by {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
    background: rgb(0, 213, 110);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.card-item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.card-item-graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-item__coin {
    align-self: flex-end;
}

.card-item__graph {
    align-self: flex-end;
    transition: 1s linear;
}

.card-item__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
}

.card-item__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(130, 130, 130, 1);
}

.card-item__number {
    position: relative;
    margin-bottom: 9px;
    padding-left: 20px;
}

.card-item__number::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 10px;
    background-image: url('../img/speed-metr-card-grey.svg');
    transform: translateY(-50%);
}

.card-item__number span:first-child {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.card-item__number span:nth-child(2) {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.card-item__balance {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: rgba(79, 79, 79, 1);
}


.auto-purchase {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #ffffff;
    border-radius: 5px;
}

.auto-purchase_by {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.card-item-graph:hover .card-item__graph {
    transform: scale(1.2);
    transition: 1s linear;
}

.auto-purchase {
    position: relative;
    display: block;
    cursor: pointer;
}

.auto-purchase_input + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 1.5px solid rgb(22, 43, 114);
    border-radius: 50%;
    transform: translateY(-50%);
}

.auto-purchase_input:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 21px;
    width: 6px;
    height: 6px;
    background: rgb(22, 43, 114);
    border-radius: 50%;
    transform: translateY(-50%);
}

.main-balance {
    margin-bottom: 24px;
}

.main-balance__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    list-style: none;
}

.main-balance-item {
    position: relative;
}

.main-balance-item:first-child {
    margin-right: 16px;
}

.main-balance-item:nth-child(2) {
    margin-right: 34px;
}

.main-balance-item__title {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(130, 130, 130);
}

.main-balance-item__number {
    padding-left: 14px;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
}

.main-balance-item__number::before {
    content: '';
    position: absolute;
    top: 35px;
    left: -3px;
    width: 6px;
    height: 6px;
    background-color: rgba(39, 174, 96, 1);
    border-radius: 50%;
}

.main-balance-item__profit::before {
    content: '';
    position: absolute;
    top: 35px;
    left: -3px;
    width: 6px;
    height: 6px;
    background: linear-gradient(180.00deg, rgb(45, 156, 219), rgb(37, 95, 128) 100%);
    border-radius: 50%;
}

.main-balance-item__service::before {
    content: '';
    position: absolute;
    top: 35px;
    left: -3px;
    width: 6px;
    height: 6px;
    background-color: rgb(242, 153, 74);
    border-radius: 50%;
}

.main-balance-item__name {
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(130, 130, 130)
}

.growth-chart-wrapper {
    display: flex;
}

.main-balance__accruals-balance {
    margin-right: 25px;
}

.accruals-balance__title,
.profitability-forecast__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(130, 130, 130, 1);
}

.profitability-forecast__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
}

.profitability-forecast__title {
    position: relative;
}

.profitability-forecast__title::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 21px;
    height: 22px;
    background-image: url('../img/info-red.svg');
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.profitability-item__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: rgba(189, 189, 189, 1);
}

.profitability-item__profit {
    display: block;
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    color: rgba(79, 79, 79, 1);
}

.profitability-item__profit-last {
    margin-bottom: 15px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
}


.statistics-account-title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(130, 130, 130);
}

.statistics-account__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    list-style: none;
}

.statistics-account-list__item {
    margin-right: 32px;
}

.statistics-account-list__item-current {
    font-weight: 700;
    background-color: #ffffff;
}

.statistics-account-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(163, 163, 163, 1);
    background-color: transparent;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 5px;
}

.statistics-account {
    margin-right: 15px;
}

.statistics-account-button-current {
    font-weight: 700;
    color: rgb(37, 83, 144);
}

.statistics-account-button:hover {
    cursor: pointer;
}

.statistics-account-button-current:hover {
    cursor: pointer;
}

.statistics-all {
    width: 915px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 21px;
    background-color: #ffffff;
}

.table-categories th {
    padding-top: 9px;
    padding-bottom: 21px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #828282;
}

th span {
    position: relative;
}

th span::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -10px;
    width: 4px;
    height: 4px;
    background-image: url('../img/button-up.svg');
    background-repeat: no-repeat;
}

th span::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -10px;
    width: 4px;
    height: 4px;
    background-image: url('../img/button-down.svg');
    background-repeat: no-repeat;
}

.btc-v1 td:first-child,
.btc-v2 td:first-child,
.btc-v3 td:first-child {
    padding-right: 70px;
    font-size: 14px;
    font-weight: 700;
    color: #255390;
}

.btc-v1 td:nth-child(2),
.btc-v2 td:nth-child(2),
.btc-v3 td:nth-child(2) {
    padding-right: 23px;
}

.btc-v1 td:nth-child(3),
.btc-v2 td:nth-child(3),
.btc-v3 td:nth-child(3) {
    padding-right: 20px;
}

tr:not(:last-child) td {
    border-bottom: 1px solid rgba(130, 130, 130, 0.3);
}

.btc-v1 td,
.btc-v2 td,
.btc-v3 td {
    padding-bottom: 11px;
}

tr td:first-child span {
    display: inline-block;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #F2994A;
}

.btc-v1 td:first-child span {
    display: inline-block;
    padding-left: 9px;
    font-size: 12px;
    font-weight: 500;
    color: #219653;
}

.btc-v1 td:nth-child(2),
.btc-v2 td:nth-child(2),
.btc-v3 td:nth-child(2) {
    width: 137px;
    font-size: 15px;
    font-weight: 700;
}

.btc-v1 td:nth-child(3),
.btc-v2 td:nth-child(3),
.btc-v3 td:nth-child(3) {
    width: 176px;
    font-size: 15px;
    font-weight: 700;
}

.btc-v1 td:nth-child(4),
.btc-v2 td:nth-child(4),
.btc-v3 td:nth-child(4) {
    font-size: 18px;
    font-weight: 700;
}

tr td:last-child span {
    display: inline-block;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}

.btc-v2 td {
    padding-top: 23px;
    font-size: 15px;
}

.btc-v3 td {
    padding-top: 23px;
}

.statistics-contracts {
    width: 310px;
}

.statistics-contract__list {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-left: 10px;
    list-style: none;
}

.statistics-contract__title {
    margin: 0;
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(130, 130, 130);
}

.statistics-contract-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 6px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 13px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}

.statistics-contract__list-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 14px;
}

.statistics-contract-name,
.statistics-contract-speed {
    font-size: 15px;
    font-weight: 500;
}

.statistics-contract__list-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}

.statistics-contract-status {
    font-weight: 500;
    color: #F2994A;
    opacity: 0.7;
}

.statistics-contract-status--active {
    color: #219653;
}

.statistics-contract-date {
    opacity: 0.7;
}

.statistics-contract__button {
    position: relative;
    display: block;
    padding-left: 63px;
    padding-right: 35px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: 0.5px solid #E0E0E0;
    font-size: 13px;
    background-color: transparent;
}

.statistics-contract__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 43px;
    width: 10px;
    height: 2px;
    background-image: url('../img/more.svg');
}

.main-footer {
    padding-top: 60px;
    background-color: #f6f7f8;
}

.copyright {
    padding-bottom: 28px;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(130, 130, 130);
}

@media screen and (max-width: 576px) {
    .site-navigation {
        width: 100%;
        margin-bottom: 20px;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-navigation__item > a {
        display: flex;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }


    .main-navigation__item > a::before {
        left: 30px;
    }

    .main-navigation__item {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    .user-navigation {
        margin: 0 auto;
        order: -1;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .main-balance__accruals-balance {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-balance__accruals-balance img,
    .accruals-balance__title {
        width: 100%;
    }

    .main-balance-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .main-balance-item:first-child {
        margin-right: 0;
    }

    .main-balance-item:nth-child(2) {
        margin-right: 0;
    }

    .growth-chart-wrapper {
        display: block;
    }

    .profitability-forecast__title {
        margin-bottom: 20px;
    }

    .crypto-title {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .crypto-balance__item {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .add-currency {
        margin: 0 auto;
    }

    .card-list {
        display: block;
    }

    .card-list__card-item {
        margin-bottom: 20px;
    }

    .card-item-wrapper {
        margin-bottom: 10px;
    }

    .auto-purchase {
        margin-bottom: 40px;
    }

    .main-balance__list {
        justify-content: space-between;
    }

    .statistics {
        display: block;
    }

    .statistics-account {
        margin-right: 0;
    }

    .statistics-account__list {
        display: block;
    }

    .statistics-account-list__item {
        display: block;
        margin-right: 0;
    }

    .statistics-account-list__item button {
        width: 100%;
    }

    .statistics-account-list__item-current button {
        width: 100%;
    }


    .statistics-contracts {
        width: 100%;
    }

    .statistics-account-list__item {
        margin-bottom: 15px;
    }

    .statistics-all {
        margin-bottom: 20px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .statistics-contract__list {
        display: block;
        padding-left: 0;
    }

    .statistics-contract-item {
        display: block;
        margin-bottom: 20px;
    }

    .statistics-contract__button {
        display: block;
    }
}

@media screen and (min-width: 1400px) {
    .card-list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr) );
    }

    .main-balance__list {
        justify-content: center;
    }

    .main-balance-item {
        margin-right: 0;
    }

    .growth-chart-wrapper {
        display: grid;
        grid-template-columns: 915px 1fr;
    }

    .profitability-forecast__list {
        display: block;
        padding-bottom: 14px;
    }

    .statistics {
        display: grid;
        grid-template-columns: 915px 1fr;
    }

    .statistics-contracts {
        width: 100%;
        display: block;
    }

    .statistics-contract-item {
        display: block;
    }
}




